node_modules
temp
.sass-cache
app/bower_components
.tmp/
dist_desktop
.DS_Store
dist
/test/selenium/*.suo
/test/selenium/NodeWebkitTest/bin
/test/selenium/NodeWebkitTest/obj
/test/selenium/Tests.sln.DotSettings.user
